<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="12204e9a-3a5d-4936-8154-7492528a5c3c" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://localhost:4567" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="12204e9a-3a5d-4936-8154-7492528a5c3cfileName">http%3A%2F%2Flocalhost%3A4567</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:4567</con:endpoint></con:endpoints></con:interface>