<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ee1c6c33-a2d2-4d6a-b227-a73071791641" name="REST TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ee1c6c33-a2d2-4d6a-b227-a73071791641fileName">REST-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>